.Main {
    display: flex;
    gap: 30px;
}
/*.Main > * { border: 2px solid black }*/
.collocutors {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 10px;
}
.dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}