.Main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.bio p,
.title p {
    color: #212121;
}
.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    width: 100%;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.left > img {
    max-width: calc(128px * 1.5);
    max-height: calc(128px * 1.5);
}
.left > p {
    font-size: 23px;
    text-align: center;
}
.bio > p {
    font-size: 20px;
    margin: 0 auto;
    word-break: break-word;
    text-align: center;
}
.photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.photos > .title > p {
    font-size: 14px;
    color: #444444;
    text-align: left;
    text-decoration: underline;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: max-content;
}
.gallery > img {
    max-width: 110px;
    max-height: 110px;
    border-radius: 6px;
}
.gallery > img:hover {
    transform: scale(1.03);
    border-radius: 15px;
}
.gallery:hover .albumItem:not(:hover) {
    filter:
            blur(2px)
            grayscale(80%)
    ;
}