.Main {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom, #563c80, #832445);
}
.content > * {
    width: 100%;
}
.light {
    position: absolute;
    width: 100%;
    height: 0px;
}
.topLight {
    background: #9b6de8;
    box-shadow: 0 0 90px 30px #9b6de8;
    top: 0;
}
.bottomLight {
    background: #e75888;
    box-shadow: 0 0 90px 30px #e75888;
    bottom: 0px;
}
.wrapper {
    background-image: url('../../../assets/images/pinkGalaxy.jpg');
    width: 85%;
    height: 85%;
    background-size: contain;
    border-radius: 36px;
    display: grid;
    place-items: center;
}
.content {
    background-image: url('../../../assets/images/pinkGalaxyPortrait.jpg');
    height: 90%;
    width: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.label > p {
    font-size: 45px;
    margin: 16px;
    text-shadow: #fff 0 0 10px;
}
.credentials {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 90%;
}
.username {
    width: 100%;
    height: 40px;
}
.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 40px;
}
.username > input::placeholder,
.password > input::placeholder {
    color: rgba(255, 255, 255, 0.38);
}
.username > input, .password > input {
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 14px;
    letter-spacing: 1px;
    border: none;
    font-size: 16px;
    background: #222c52;
    color: #fff;
}
.password > input {
    width: 80%;
}
.password > img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.username > input:focus,
.password > input:focus {
    border: 3px solid #9bbd96;
}
.extra {
    align-self: center;
   display: flex;
    flex-direction: column;
   align-items: center;
    gap: 6px;
}
.extra label,
.extra p {
    font-size: 18px;
}
.forgotPassword > p {
    cursor: pointer;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px;
    gap: 5px;
}
.footer > button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}

.footer > button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}
.footer > a {
    font-size: 17px;
    text-shadow: #000000 0 0 2px;
    color: #a2a2a2;
}