* {
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 70vw;
    align-items: stretch;
}
.content {
    height: 60vh;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 25px 16px;
}
.content > * { flex-grow: 1 }
.wrapper > * {
    background: #f8d58c;
    border-radius: 16px;
}
.login {
    position: fixed;
    right: 10px;
    top: 10px;
    background: #fff;
    border-radius: 22px;
    padding: 2px;
}
.login > a {
    position: relative;
    border-radius: 17px;
    padding: 7px;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}